<!DOCTYPE html>
<html>

<head>
  <title>
    <%= quote %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="noite"></div>

  <div class="constelacao"></div>

  <div class="lua">
    <div class="textura"></div>
  </div>

  <div class="chuvaMeteoro"></div>

  <div class="floresta">
    <img src="https://raw.githubusercontent.com/interaminense/starry-sky/master/src/img/bgTree.png" alt="" />
  </div>

  <div class="center">
    <img src="<%= img %>" alt="<%= author %>">
    <h1>
      <%= quote %>
    </h1>
    <p>-<%= author %>
    </p>
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>